<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- jQuery -->
	<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
		type='text/css'>
	<!-- lined-icons -->
	<link rel="stylesheet" href="{% static 'css/icon-font.min.css' %}" type='text/css' />
	<!-- /js -->
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<!-- //js-->
	{% block css %}

	{% endblock %}
</head>

<body>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="inner-content">
				<!-- header-starts -->
				<div class="header-section">
					<!--menu-right-->
					<div class="top_menu">
						<div class="main-search">
							<form action="search.html">
								<input type="text" value="Search" onFocus="this.value = '';"
									onBlur="if (this.value == '') {this.value = 'Search';}" class="text" />
								<input type="submit" value="" />
							</form>
							<div class="close"></div>
						</div>
						<div class="srch"><button></button></div>
						<script type="text/javascript">
							$('.main-search').hide();
							$('button').click(function () {
								$('.main-search').show();
								$('.main-search text').focus();
							}
							);
							$('.close').click(function () {
								$('.main-search').hide();
							});
						</script>
						<!--/profile_details-->
						<div class="profile_details_left">
							<ul class="nofitications-dropdown">
								<li class="dropdown note dra-down">
									<div id="dd" class="wrapper-dropdown-3" tabindex="1">
										<span><small> {{user.username|title}}</small></span>
									</div>
									<script type="text/javascript">

										function DropDown(el) {
											this.dd = el;
											this.placeholder = this.dd.children('span');
											this.opts = this.dd.find('ul.dropdown > li');
											this.val = '';
											this.index = -1;
											this.initEvents();
										}
										DropDown.prototype = {
											initEvents: function () {
												var obj = this;

												obj.dd.on('click', function (event) {
													$(this).toggleClass('active');
													return false;
												});

												obj.opts.on('click', function () {
													var opt = $(this);
													obj.val = opt.text();
													obj.index = opt.index();
													obj.placeholder.text(obj.val);
												});
											},
											getValue: function () {
												return this.val;
											},
											getIndex: function () {
												return this.index;
											}
										}

										$(function () {

											var dd = new DropDown($('#dd'));

											$(document).click(function () {
												// all dropdowns
												$('.wrapper-dropdown-3').removeClass('active');
											});

										});

									</script>

								</li>

								<li class="dropdown note">
									<a href="{% url 'logout' %}" class="dropdown-toggle" data-toggle="dropdown"
										aria-expanded="false"><i class="lnr lnr-power-switch"></i></a>

								</li>

								<div class="clearfix"></div>
							</ul>
						</div>
						<div class="clearfix"></div>
						<!--//profile_details-->
					</div>
					<!--//menu-right-->
					<div class="clearfix"></div>
				</div>
				<!-- //header-ends -->
				<!--outter-wp-->
				<div class="outter-wp">
					<!--sub-heard-part-->
					<div class="sub-heard-part">
						{% block breadcrumb %}

						{% endblock %}
					</div>
					<!--//sub-heard-part-->
					<div class="graph-visual tables-main">
						{% block content %}

						{% endblock %}
					</div>
					<!--//graph-visual-->
				</div>

				<!--//outer-wp-->
				<!--footer section start-->
				<footer>
					<p> © {% now "Y" %} All Rights Reserved by Chinhoyi University of Technology. Designed and Developed
						by <a href="#" style="color:white;">CUT</a></p>
				</footer>
				<!--footer section end-->
			</div>
		</div>
		<!--//content-inner-->
		<!--/sidebar-menu-->
		<div class="sidebar-menu">
			<header class="logo">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a
					href="{% url 'accounts:redirect_logged' %}"> <span id="logo">
						<h4>Dummy Portal</h4>
					</span>
					<!--<img id="logo" src="" alt="Logo"/>-->
				</a>
			</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<!--/down-->
			<div class="down">
				<a href="{% url 'accounts:redirect_logged' %}"><img src="{% static 'images/logo.jpeg' %}"
						style="width: auto; height: 100px;"></a>
				<a href="{% url 'accounts:redirect_logged' %}"><span class=" name-caret"> {{user.first_name|title}}
						{{user.last_name|title}}</span></a>
				<p>{{user.designation|title}}</p>
				<ul>
					<li><a class="tooltips" href="{% url 'accounts:user_details' user.pk %}"><span>Profile</span><i
								class="lnr lnr-user"></i></a></li>
					<li><a class="tooltips" href="#"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
					<li><a class="tooltips" href="{% url 'logout' %}"><span>Log out</span><i
								class="lnr lnr-power-switch"></i></a></li>
				</ul>
			</div>
			<!--//down-->
			<div class="menu">
				<ul id="menu">
					<li><a href="{% url 'accounts:redirect_logged' %}"><i class="fa fa-tachometer"></i>
							<span>Dashboard</span></a></li>

					{% if not user.designation == 'head of department' %}
					<li><a href="{% url 'students:students' %}"><i class="fa fa-book"></i> <span>Students</span></a>
					</li>
					{% endif %}
					{% if user.designation == 'admin' %}
					<li><a href="{% url 'accounts:users' %}"><i class="fa fa-users"></i> <span>Users</span></a></li>
					<li id="menu-academico"><a href="#"><i class="fa fa-cogs"></i> <span> Settings</span> <span
								class="fa fa-angle-right" style="float: right"></span></a>
						<ul id="menu-academico-sub">
							<li id="menu-academico-avaliacoes"><a href="{% url 'courses:courses' %}"> Courses</a></li>
							<li id="menu-academico-avaliacoes"><a href="{% url 'departments:departments' %}">
									Departments</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<script>
		var toggle = true;

		$(".sidebar-icon").click(function () {
			if (toggle) {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({ "position": "absolute" });
			}
			else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function () {
					$("#menu span").css({ "position": "relative" });
				}, 400);
			}

			toggle = !toggle;
		});
	</script>
	<!--js -->
	<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block javascript %}
	{% endblock %}
</body>

</html>